# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtualenv
venv/
.env/
*.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code / IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
